body{
    font-family: 'Hind Madurai', sans-serif;
    background: #0E1624 !important;
    color: #f1f1f1 !important;
}

/* navbar */

.bg-custom-dark{
    background: #0C1321 !important;
    color: #f1f1f1 !important;
}

.text-light-muted{
    color: #ced4da !important;
}

.nav-icon-text{
    font-size: 24px !important;
}

.navbar{
    padding: 20px !important;
}

.navbar-img{
    width: 150px;
}

/* Hero banner */
.hero-banner{
    padding: 100px;
}

.text-area-banner{
    padding: 0px 0px 0px 80px;
}

.rounded-img{
    border-radius: 50%;
    width: 80px;
}

.text-area{
    font-family: 'Lora', serif;
}

.banner-area-three{
    width: 70%;
}

.h-b-c1{
    background: #ffe593;
    color: #000;
    padding: 0px 10px;
    border-radius: 5px;
}

.h-b-c2{
    background: #96e5cc;
    color: #000;
    border-radius: 5px;
    padding: 0px 10px;
}

/* Two Lines */
.lines{
    z-index: -999;
    position: relative;
}

.first-line{
    background: rgb(66, 66, 66);
    height: 100vh;
    width: 2px;
    position: absolute;
    opacity: 0.1;
    top: 0px;
    left: 200px;
}

.second-line{
    background: rgb(66, 66, 66);
    height: 100vh;
    width: 2px;
    position: absolute;
    opacity: 0.1;
    top: 0px;
    left: 450px;
}

.third-line{
    background: rgb(66, 66, 66);
    height: 100vh;
    width: 2px;
    position: absolute;
    opacity: 0.1;
    top: 0px;
    left: 670px;
}

.fourth-line{
    background: rgb(66, 66, 66);
    height: 100vh;
    width: 2px;
    position: absolute;
    opacity: 0.1;
    top: 0px;
    left: 900px;
}
/* animated background */

.container{
	width: 50%;
	height: 50%;
	position: relative;
	display: flex;
	perspective: 50px;
}

.frame {
    z-index: -99;
	width: 500px;
	height: 500px;
	position: absolute;
	border-radius: 50px;
	border: 5px solid #0ff;
	box-shadow: 0 0 10px #0ff,
		0 0 30px #0ff;
	animation: zooming 4s linear infinite alternate;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.frame:nth-child(1) {
	transform: rotate(40deg) translateY(0px) translateZ(0px);
	opacity: 1;
	animation-delay: -1s;
}

.frame:nth-child(2) {
	transform: rotate(40deg) translateY(50px) translateZ(-10px);
	opacity: 0.9;
	animation-delay: -1.3s;
}

.frame:nth-child(3) {
	transform: rotate(40deg) translateY(100px) translateZ(-20px);
	opacity: 0.85;
	animation-delay: -1.5s;
}

.frame:nth-child(4) {
	transform: rotate(40deg) translateY(150px) translateZ(-30px);
	opacity: 0.8;
	animation-delay: -1.7s;
}

.frame:nth-child(5) {
	transform: rotate(40deg) translateY(200px) translateZ(-40px);
	opacity: 0.75;
	animation-delay: -1.9s;
}

.frame:nth-child(6) {
	transform: rotate(40deg) translateY(250px) translateZ(-50px);
	opacity: 0.7;
	animation-delay: -2.1s;
}

.frame:nth-child(7) {
	transform: rotate(40deg) translateY(300px) translateZ(-60px);
	opacity: 0.65;
	animation-delay: -2.3s;
}

.frame:nth-child(8) {
	transform: rotate(40deg) translateY(350px) translateZ(-70px);
	opacity: 0.6;
	animation-delay: -2.5s;
}

.frame:nth-child(9) {
	transform: rotate(40deg) translateY(400px) translateZ(-80px);
	opacity: 0.5;
	animation-delay: -2.7s;
}

.frame:nth-child(10) {
	transform: rotate(40deg) translateY(450px) translateZ(-90px);
	opacity: 0.4;
	animation-delay: -2.9s;
}

.frame:nth-child(11) {
	transform: rotate(40deg) translateY(500px) translateZ(-100px);
	opacity: 0.3;
	animation-delay: -3.1s;
}

.frame:nth-child(12) {
	transform: rotate(40deg) translateY(550px) translateZ(-110px);
	opacity: 0.2;
	animation-delay: -3.3s;
}

.frame:nth-child(13) {
	transform: rotate(40deg) translateY(600px) translateZ(-120px);
	opacity: 0.1;
	animation-delay: -3.5s;
}

.frame:nth-child(14) {
	transform: rotate(40deg) translateY(650px) translateZ(-130px);
	opacity: 0.05;
	animation-delay: -3.7s;
}

@keyframes zooming {
	0% {
		transform: scale(0.2) rotate(40deg);
		opacity: 1;
	}
	
	100% {
		transform: scale(1) rotate(180deg);
		opacity: 0;
	}
}

.btn-blue-outline{
    color: #f1f1f1;
    padding: 8px 25px;
    border-radius: 10px;
    border: #f1f1f1 1px solid;
    text-decoration: none;
}

.btn-blue-outline:hover{
    color: #0C1321;
    background: #f1f1f1;
    transition: 0.5s;
}

/* Media Query */

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .navbar-img{
        width: 100px;
    }

    .hero-banner{
        padding: 50px;
    }

    .text-area-banner{
        padding: 0px 0px 0px 30px;
    }

    .banner-area-three{
        width: 100%;
    }

    .frame{
        width: 150px;
        height: 150px;
        top: 40%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .first-line{
        left: 120px;
    }

    .second-line{
        left: 280px;
    }

    .third-line{
        display: none;
    }

    .fourth-line{
        display: none;
    }
    
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .frame{
        width: 250px;
        height: 250px;
        top: 30%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .third-line{
        display: none;
    }

    .fourth-line{
        display: none;
    }

}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .frame{
        width: 250px;
        height: 250px;
        top: 30%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .third-line{
        display: inline;
    }

    .fourth-line{
        display: none;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .fourth-line{
        display: inline;
    }

}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    .frame {
        z-index: -99;
        width: 500px;
        height: 500px;
        position: absolute;
        border-radius: 50px;
        border: 5px solid #0ff;
        box-shadow: 0 0 10px #0ff,
            0 0 30px #0ff;
        animation: zooming 4s linear infinite alternate;
        top: 20%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}